version: '3'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo123
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

  odoo:
    image: odoo:17.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER= odoo
      - DB_PASSWORD= odoo123
      - ADMIN_PASSWORD=admin
    volumes:
      - odoo-data:/var/lib/odoo
    restart: always

volumes:
  odoo-db-data:
  odoo-data:
